<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) =%> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="mt-5 pt-5" style="background-color: #e5e5e5; min-height: 100vh" >
        <div class="row">
            <div class="col-lg-4">
                <%= render 'layouts/sidebar' %> 
            </div>
            <div class="col-lg-8">
                Send message to all user: 
                <button type="button" class="btn btn-info mx-3" data-toggle="modal" data-target="#exampleModal">
                  Send message
                </button>
            </div>
        </div>
        
    </div>

    <!-- Popup dialog -->
      <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          
          <%= form_tag(sendmess_path, :method => "get") do %>  

          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Send message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <%= search_field_tag :content, params[:content], class: "mb-0 form-control mr-sm-2 " %>   
                </div>
                <div class="col-md-6"></div>
              </div>
              <div class="row"></div>
            </div>
            <div class="modal-footer">
              <%= button_tag "Send", :class => 'btn btn-success my-2 my-sm-0',:name => nil%>  
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>

          <% end %>
        </div>
      </div>

  </body>

</html>